.animacao{
    background: rgb(0, 0, 0);
}

.container{
    margin-top: 50px;
    perspective: 1000px;
    perspective-origin: 50% 50%;

}

.cubo{
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

.cubo img{
    position: absolute;
    opacity: 0.8;
}

.cubo img:nth-child(1){
    transform: rotateY(0deg) translateZ(100px);
}

.cubo img:nth-child(2){
    transform: rotateY(90deg) translateZ(100px);
}

.cubo img:nth-child(3){
    transform: rotateY(180deg) translateZ(100px);
}

.cubo img:nth-child(4){
    transform: rotateY(-90deg) translateZ(100px);
}

.cubo img:nth-child(5){
    transform: rotateX(90deg) translateZ(100px);
}

.cubo img:nth-child(6){
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes loop{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg);}
}

.cubo{
    animation: loop 10s linear infinite;
}