html{
    height: 100%;
    overflow: hidden;
}

body{
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
}

header{
    box-sizing: border-box;
    min-height: 100%;
    padding: 30px 0 5px;
    position: relative;
    transform-style: inherit;
    width: 100%;
}

header h1{
    margin-top:  -200px;
}

header, header::before{
    background: 50% 50% / cover;

}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../img/fundoParalax.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-10px) scale(12);
    z-index: -1;
    min-height: 100%;
}

header * {
    font-weight: normal;
    letter-spacing: 0.5em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}